
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Start Investing</title>
  <link href="assets/css/investing.css" rel="stylesheet">
</head>

<body id="bd_investing">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1396935530538335";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<div class= "container">
	
	<div class="well" id = "head_investing" >
  <h2><small><center><font face="Calibri" color= "white">Invest in a Tax Saving ELSS fund to save upto Rs. 30,990 this year in tax under Sec. 80C. Call Us at 91-7406998067/9</font></center></small></h2>
</div>
	<div class = "col-sm-6 col-lg-6">
		<div class = "well" ><p><font face="Calibri">
			<center><h3>Tax Saving Investment Service
                      </h3>
			<h4>(Door-to-Door in Bangalore)</h4></center></font>
			<p align="justify">
			<br>
<font face="Calibri" font size="3">

<b>RupeeVest is happy to launch it's free door-to-door tax investment service in Bangalore</b> to reduce your worries of investing this tax season. Drop in your contact details on the right and we will call you and advice you on the appropriate tax saving investments. If needed, we will drop by your office / home / any convenient location to help you out with your tax savings. <br>
<br>
<b>Who are we?</b><br>
RupeeVest has been founded by alumni of IIT to make investing super simple and effective for all Indians. We aim to be a next generation financial firm, and are currently developing India's first self-help online investment platform which will help you to save and invest your money on the basis of your life's financial goals. We wish to revamp the investment services industry by removing the middle layer of agents and help you invest online at the comfort of your home / office without the hassles of any paperwork.<b> We will go live with our online platform SOON!</b>
<br>

</p> <center><b>Happy Rupeevesting!!</b></center>

		</div>
	</div>
	
	<div class = "well col-sm-5 col-lg-5">
		
		<h3>Get Started!
                      </h3>
			<b>Free Download: </b> Performance Analysis of Tax Saving (ELSS) funds.
		



			<div class="fb-share-button" data-href="http://www.rupeevest.com/" data-type="button_count"></div><br>
			<font face="Calibri" font size="1" color= "grey">Note: Confidentiality of your contact details is of utmost importance to us. Be rest assured.</font><br><br>
	</div>
</font>
</div></font>
</body>
</html>